<%- include ('../partials/header')-%>
<h1>Favorite locations</h1>

<h2><%= place.name %></h2>
<li><%= place.phone %></li>
<li><%= place.distance %></li>
<li><%= place.address %></li>

<p><em>Submitted By :</em> <%=place.author.username %></p>
<% place.comments.forEach(function(comment){ %>
<strong>
  <p><%=comment.author.username %></p>
</strong>

<p><%=comment.text %></p>
<% }) %>
<button><a href="/favorite/<%=place._id%>/comments/new">ADD COMMENT</a></button>
<%- include ('../partials/footer')-%>
