<%- include ('../partials/header')-%>
<h1>Saved locations</h1>

<h2><%= place.name %></h2>
<li><%= place.phone %></li>
<li><%= place.distance %></li>
<li><%= place.address %></li>

<p>
  <button><a href="/saved/<%=place._id%>/comments/new">ADD COMMENT</a></button>
</p>
<% place.comments.forEach(function(comment){ %>

<p><%=comment.text %></p>
<% }) %> <%- include ('../partials/footer')-%>
